@import "tailwindcss";

@font-face {
    font-family: 'Helvetica';
    src: url('../public/assets/font/Helvetica.ttf') format('truetype');
}

html,
body {
    font-family: 'helvetica', sans-serif;
    scroll-behavior: smooth;
}

/* .icon-hover svg path:hover{
fill: ;
} */